<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<nav>
    <form action="/admin" method="post">
        <input type="submit" value="USERS" name="users">
    </form>
    <form action="/admin" method="post">
        <input type="submit" value="ITEMS" name="items">
    </form>
    <form action="/admin" method="post">
        <input type="submit" value="ORDERS" name="orders">
    </form>
</nav>

<div class="searchBar">
    <form action="/admin/items/search/" method="post">
        <label>
            Search:
            <input type="text" name="searchbar">
        </label>
        <input type="submit" value="Search">
    </form>
</div>
<div class="content">
    <% items.forEach((item) => { %>
        <form action="/admin/items/update/<%=item.id%>" method="get">
            <div class="item">
                <div class="id"><% item.id %></div>
                <div class="name"><%= item.name %></div>
                <div class="amount"><%= item.amount %></div>
                <div class="prince"><%= item.price %></div>
            </div>
            <input type="submit" value="EditItem">
        </form>
    <% }) %>
    </br>
    <form action="/admin/items/add" method="get">
        <input type="submit" value="AddItem">
    </form>
</div>
</body>
</html>