<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping website</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Main button -->
        <form action="/admin/items/" method="get">
            <a class="navbar-brand" style="cursor: pointer;" onclick="this.closest('form').submit();return false;">Shopping website: Admin view</a>
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <form action="/admin/users/" method="get">
                    <button type="submit" class="btn btn-link text-decoration-none" style="color: rgb(71, 68, 68);">Users</button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/admin/orders/" method="get">
                    <button type="submit" class="btn btn-link text-decoration-none" style="color: rgb(71, 68, 68);">Orders</button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/admin/items/" method="get">
                    <button type="submit" class="btn btn-link text-decoration-none" style="color: rgb(71, 68, 68);">Items</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<h1 class="pt-3" style="text-align: center;"> Orders </h1>

<div class="content">
    <% for (var i = 0; i < orders.length; i++) { %>
        <%- include('partials/order.ejs', {order: orders[i], cart: items[i]}); %>
    <% } %>
</div>
</body>
</html>