<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<nav>
    <form action="/admin" method="post">
        <input type="submit" value="USERS" name="users">
    </form>
    <form action="/admin" method="post">
        <input type="submit" value="ITEMS" name="items">
    </form>
    <form action="/admin" method="post">
        <input type="submit" value="ORDERS" name="orders">
    </form>
</nav>

<div class="searchBar">
    <form action="/admin/orders/search/" method="post">
        <label>
            Search:
            <input type="text" name="searchbar">
        </label>
        <input type="submit" value="Search">
    </form>
</div>
<div class="content">
    <% orders.forEach((order) => { %>
        <form action="/admin/orders/update/<%=order.id%>" method="get">
            <div class="user">
                <div class="id"><% order.id %></div>
                <div class="date"><%= order.date %></div>
                <div class="price"><%= order.price %></div>
                <div class="user"><%= order.userId %></div>
            </div>
            <input type="submit" value="EditOrder">
        </form>
    <% }) %>
</div>
</body>
</html>