<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<nav>
    <form action="/admin" method="post">
        <input type="submit" value="USERS" name="users">
    </form>
    <form action="/admin" method="post">
        <input type="submit" value="ITEMS" name="items">
    </form>
    <form action="/admin" method="post">
        <input type="submit" value="ORDERS" name="orders">
    </form>
</nav>

<div class="searchBar">
    <form action="/admin/users/search/" method="post">
        <label>
            Search:
            <input type="text" name="searchbar">
        </label>
        <input type="submit" value="Search">
    </form>
</div>
<div class="content">
    <% users.forEach((user) => { %>
        <form action="/admin/users/update/<%=user.id%>" method="get">
        <div class="user">
            <div class="id"><% user.id %></div>
            <div class="name"><%= user.name %> <%= user.surname %></div>
        </div>
        <input type="submit" value="EditUser">
        </form>
    <% }) %>
</div>
</body>
</html>