<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        async function SendOrder(){
            var response = await fetch('/cart/checkout/add', {
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({}),
                method: 'post'
            })
            var responseText = await response.text();
            window.history.go(-1);
        }
    </script>
</head>
<body>

<%- include('partials/navbar.ejs') %>

<h1 class="pt-3" style="text-align: center;"> Checkout </h1>

<% 
let sum = 0;
for (var i = 0; i < items.length; i++) { %>
    <% let item = items[i] %>
    <% sum += item.price } %>

<h5 class="p-7 pb-5" style="text-align: center;"> Total cost is <%= sum %> <br><br>

<form action="/cart/checkout/add" method="post">
    <input type="submit" class="btn btn-primary" value="Send Order" name="sendOrder">
</form>
</h5>

<footer></footer>
</body>
</html>