<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <form action="/" method="post">
        <input type="submit" value="Profile" name="profile">
    </form>
</nav>

<form action="/" method="post">
    <label>
        Search:
        <input type="text" name="searchbar">
    </label>
    <input type="submit" value="Search">
</form>

<div class="items">
    <% for (var i = 0; i < items.length; i++) { %>
        <% let item = items[i] %>
        <div class="item" style="float: left; margin: 20px">
            <img src="<%= item.img[0] %>" height="200px" width="200px">
            <div class="name"><%= item.name %></div>
            <div class="price"><%= item.price %></div>
        </div>
    <% } %>
</div>

<footer>

</footer>

</body>
</html>