<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<%- include('partials/navbar.ejs') %>

<div class="p-5 gap-3 d-flex flex-column min-vw-100">
    <% items.forEach(function(item) { %>
        <%- include('partials/item_miniature.ejs', {item: item})%>
    <% }) %>
</div>

<footer>

</footer>

<script
src="../js/bootstrap.min.js"
></script>
<script
src="../js/jquery.slim.min.js"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"
></script>

</body>
</html>