<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>

</nav>

<form method="post" class="searchbar">
    <label>
        Search:
        <input type="text">
    </label>
    <input type="submit" value="Search">
</form>

<div class="items">

</div>

<footer>

</footer>

</body>
</html>