<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>

</nav>

<div class="info">
    <!-- TODO: Add information about the user from the db -->
    <%= email %>
    <%= password %>
    <%= name %>
    <%= surname %>
</div>

<footer></footer>

</body>
</html>